{% extends "base.html" %}

{% block content %}
<h1>Hire Fire Checks</h1>
<hr>
<p><a href="{% url 'simulation:simulation_page' %}">Go back to Main Simulation Page</a></p>
<hr>
<div class='container'>
    {% if exists %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID HFC</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for id in ids %}
                <div class="list-group">
                    <tr class="table-info">
                        <td>
                            <a href="{% url 'company_operations:certain_hfc' id %}" class='btn btn-primary btn-sm'>{{ id }}</a>
                        </td>
                    </tr>
                </div>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <hr>
    <h3>There is no Hire Fire Checks in system ( wait till creation, cause it happened every month \\ but there is an error ceratinly)</h3>
    {% endif %}
<div class='container'>
{% endblock content %}