{% extends "base.html" %}
{% block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption post-detail-item">
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.created }}</small></h3>
        {% if obj.owner.username %}<p><a href="{{ obj.owner.profile.get_absolute_url }}">Author: {{ obj.owner.username }}</a></p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
        {% if request.user.is_authenticated %}
        <!-- # relative_name  -->
            <!-- <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>  -->
            <p><a data-from-url='{{ request.get_full_path }}' data-to-url="{{ obj.get_update_like_link }}" onclick="update_like(this)" class="btn btn-primary" role="button">Like</a></p>
            <p><a href="{{ obj.get_like_thread_link }}" class="btn btn-primary" role="button">Likes List</a></p>
            {% if request.user == obj.owner %}
                <p><a data-slug="{{ obj.slug }}" data-to-url="{{ obj.get_delete_url }}" id="post_delete" onclick="delete_post(this)" class="btn btn-danger" role="button">DELETE</a></p>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>

{% endblock content %}