{% extends "base.html" %}

{% block content %}
<h1>Simulation</h1>
<h3>Status:</h3>
<div id='simulation_info'></div>
<div class='container'>
{% if !simulations_exists %}
<p><a href="{% url 'simulation:simulation_create' %}">Create First Simulation</a></p>
{% else %}
    {% if !simulation_today_str %}
        <p><a data-from-url="{{ request.get_absolute_url }}" data-to-url="{% url 'simulation:simulation' %}" data-action='1' id="start_simulation" onclick="simulation(this)" class="btn btn-primary" role="button">Start Simulation</a></p>
    {% else %}
        <p><a data-from-url="{{ request.get_absolute_url }}" data-to-url="{% url 'simulation:simulation' %}" data-action='0' id="stop_simulation" onclick="simulation(this)" class="btn btn-danger" role="button">Stop Simulation</a></p>
    {% endif %}
{% endif %}
</div>
{% endblock content %}