{% extends "base.html" %}

{% block content %}
<h1>Trial Balance</h1>
<hr>
<p><a href="{% url 'simulation:simulation_page' %}">Go back to Main Simulation Page</a></p>
<hr>
<div class='container'>
        {% if not simulations_exists %}
        <h1>There is no Simulations in the database</h1>
        <p><a href="{% url 'simulation:simulation_create' %}">Create First Simulation</a></p>
        <hr>
        <p><a href="{% url 'simulation:simulation_auto_create' %}">AutoCreate First Simulation</a></p>
        {% else %}
        <h1>All Simulation inner data:</h1>
        <hr>
        {% for key, value in data %}
            <h3><i>{{ key }}: {{ value }}</i></h3>
        {% endfor %}
        {% endif %}
</div>
{% endblock content %}