{% extends "base.html" %}

{% block content %}
<h1>Simulation</h1>
<div class='container'>
{% if not simulations_exists %}
    <p><a href="{% url 'simulation:simulation_create' %}">Create First Simulation</a></p>
    <hr>
    <p><a href="{% url 'simulation:simulation_auto_create' %}">AutoCreate First Simulation</a></p>
{% else %}
    {% if not simulation_status %}
        <p><a href="{% url 'simulation:simulate' 'enable' %}" class="btn btn-primary" role="button">Start Simulation</a></p>
    {% else %}
        <h3><i id='days_passed'>days_passed: {{days_passed}}</i></h3>
        <h3><i id='simulation_today_str'>simulation_today_str: {{simulation_today_str}}</i></h3>
        <h3><i id='simulation_status'>simulation_status: {{simulation_status}}</i></h3>
        <hr>
        <p><a data-to-url="{% url 'simulation:current_simulation_info' %}" data-from-url="{{ request.get_full_path }}" onclick="refresh_simulation(this)" class="btn btn-info" role="button">Refresh Simulation</a></p>
        <hr>
        <p><a href="{% url 'simulation:simulate' 'disable' %}" class="btn btn-danger" role="button">Stop Simulation</a></p>
    {% endif %}
{% endif %}
</div>
{% endblock content %}